*~
\#*
.\#*
*.ldif.log
node_modules
.env
secret_env
docker-compose.override.yml
envvars
*.no-git
*.nogit
*.no-git.*
*.nogit.*
*.generated.*
**/node-api/dist/
**/avenirs-cas-overlay/.gradle/
**/.idea

# Files with secrets
**/apisix_conf/config.yaml
**/dashboard_conf/conf.yaml
**/grafana_conf/config/grafana.ini
.secrets.env
cas.properties
apim-4000.json

