[submodule "services/apisix/apisix-docker"]
	path = services/apisix/apisix-docker
	url = https://github.com/apache/apisix-docker.git
[submodule "services/cas/cas-overlay-template"]
	path = services/cas/cas-overlay-template
	url = https://github.com/apereo/cas-overlay-template.git
