# Note: some variables are exported to be used in bash scripts and some other are
# not exported to be used in docker-compose.yml files

# Apisix
export SEC_APISIX_ADMIN_KEY=""
export SEC_APISIX_UI_KEY=""
export SEC_APISIX_ADMIN_USER=""
export SEC_APISIX_ADMIN_PASSWORD=""
export SEC_APISIX_READER_USER=""
export SEC_APISIX_READER_PASSWORD=""
export SEC_APISIX_VIEWER_KEY=""
export SEC_APISIX_OIDC_CLIENT_ID=""
export SEC_APISIX_OIDC_CLIENT_SECRET=""
export SEC_APISIX_GRAFANA_ADMIN_PASSWORD="" 
export SEC_APISIX_GRAFANA_SECRET_KEY=""

# CAS
export SEC_CAS_TGC_CRYPTO_ENCRYPTION_KEY=""
export SEC_CAS_TGC_CRYPTO_SIGNING_KEY=""
export SEC_CAS_WEBFLOW_CRYPTO_SIGNING_KEY=""
export SEC_CAS_WEBFLOW_CRYPTO_ENCRYPTION_KEY=""
export SEC_CAS_AUTHN_OAUTH_CRYPTO_ENCRYPTION_KEY=""
export SEC_CAS_AUTHN_OAUTH_CRYPTO_SIGNING_KEY=""
export SEC_CAS_AUTHN_OAUTH_ACCESS_TOKEN_CRYPTO_ENCRYPTION_KEY=""
export SEC_CAS_AUTHN_OAUTH_ACCESS_TOKEN_CRYPTO_SIGNING_KEY=""
export SEC_CAS_SPRING_SECURITY_USER_PASSWORD=""

# OpenLDAP
export SEC_LDAP_ADMIN_PASSWORD=""
export SEC_LDAP_CONFIG_PASSWORD=""
export SEC_LDAP_READONLY_USER_PASSWORD=""

# Postgresql
export SEC_POSTGRES_PASSWORD=""

# Avenirs Portfolio API
export SEC_AVENIRS_PORTFOLIO_API_ROME_4_CLIENT_ID=""
export SEC_AVENIRS_PORTFOLIO_API_ROME_4_CLIENT_SECRET=""