{
  "@class": "org.apereo.cas.services.OidcRegisteredService",
  "id": 4000,
  "name": "APIM",
  "clientId": "__SEC_APISIX_OIDC_CLIENT_ID__",
  "clientSecret": "__SEC_APISIX_OIDC_CLIENT_SECRET__",
  "serviceId": "^https?://(dev\\.avenirs-esr\\.fr|localhost|srv-(dev|recette|qualif)(\\.srv-avenirs?\\.brgm\\.recia\\.net)?)/(node-api/cas-auth-callback|apim/v1/auth/callback|cofolio(/.*)?)$",
  "bypassApprovalPrompt": true,
  "generateRefreshToken": true,
  "jwtAccessToken": true,
  "supportedGrantTypes": [
    "java.util.HashSet",
    [
      "authorization_code",
      "refresh_token"
    ]
  ],
  "supportedResponseTypes": [
    "java.util.HashSet",
    [
      "code"
    ]
  ],
  "scopes": [
    "java.util.HashSet",
    [
      "openid",
      "profile",
      "email",
      "offline_access"
    ]
  ],
  "attributeReleasePolicy": {
    "@class": "org.apereo.cas.services.ReturnAllowedAttributeReleasePolicy",
    "allowedAttributes": [
      "java.util.ArrayList",
      [
        "eppn",
        "email"
      ]
    ]
  }
}