# Download attachment from Vaultwarden in secret_env
APISIX_ADMIN_KEY=your-secret-key-for-admin
APISIX_VIEWER_KEY=your-secret-key-for-viewer
APISIX_OIDC_CLIENT_ID=your-oidc-client-id
APISIX_OIDC_CLIENT_SECRET=your-oidc-client-secret