SSLProxyEngine on

# Required to accept the self signed certificate used by tomcat for CAS.
SSLProxyVerify none 
SSLProxyCheckPeerCN off
SSLProxyCheckPeerName off
SSLProxyCheckPeerExpire off
SSLProxyCheckPeerName off


### Was not able to use the envvars with mod_proxy
ProxyPass "/cas" "https://__AVENIRS_CAS_CONTAINER_NAME__:8443/cas"
ProxyPassReverse "/cas" "https://__AVENIRS_CAS_CONTAINER_NAME__:8443/cas"

ProxyPass /ldapadmin http://__AVENIRS_LDAP_ADMIN_CONTAINER_NAME__/phpldapadmin
ProxyPassReverse /ldapadmin http://__AVENIRS_LDAP_ADMIN_CONTAINER_NAME__/phpldapadmin

# ---- Websocket specific settings
ProxyPass /apisix-gw/ws ws://__AVENIRS_APISIX_API_CONTAINER_NAME__:9080/ws
ProxyPassReverse /apisix-gw/ws ws://__AVENIRS_APISIX_API_CONTAINER_NAME__:9080/ws

ProxyPass /apisix-gw/rt-notification ws://__AVENIRS_APISIX_API_CONTAINER_NAME__:9080/rt-notification
ProxyPassReverse /apisix-gw/rt-notification ws://__AVENIRS_APISIX_API_CONTAINER_NAME__:9080/rt-notification
# ----

# ---- The entry below must be after the settings for Websockets
ProxyPass /apisix-gw http://__AVENIRS_APISIX_API_CONTAINER_NAME__:9080
ProxyPassReverse /apisix-gw http://__AVENIRS_APISIX_API_CONTAINER_NAME__:9080

ProxyPass /apisix-api http://__AVENIRS_APISIX_API_CONTAINER_NAME__:9180
ProxyPassReverse /apisix-api http://__AVENIRS_APISIX_API_CONTAINER_NAME__:9180

ProxyPass /apisix-ui http://__AVENIRS_APISIX_DASHBOARD_CONTAINER_NAME__:9000
ProxyPassReverse /apisix-ui http://__AVENIRS_APISIX_DASHBOARD_CONTAINER_NAME__:9000

ProxyPass /apisix-grafana http://__AVENIRS_APISIX_GRAFANA_CONTAINER_NAME__:3000
ProxyPassReverse /apisix-grafana http://__AVENIRS_APISIX_GRAFANA_CONTAINER_NAME__:3000

ProxyPass /pgsql-ui http://__AVENIRS_POSTGRESQL_UI_CONTAINER_NAME__:8080
ProxyPassReverse /pgsql-ui http://__AVENIRS_POSTGRESQL_UI_CONTAINER_NAME__:8080

ProxyPass /sql-ui http://__AVENIRS_POSTGRESQL_UI_CONTAINER_NAME__:8080
ProxyPassReverse /sql-ui http://__AVENIRS_POSTGRESQL_UI_CONTAINER_NAME__:8080

ProxyPass /kafka-ui http://__AVENIRS_KAFKA_UI_CONTAINER_NAME__:8080/kafka-ui
ProxyPassReverse /kafka-ui http://__AVENIRS_KAFKA_UI_CONTAINER_NAME__:8080/kafka-ui

ProxyPass /avenirs-api http://__AVENIRS_API_CONTAINER_NAME__:10000
ProxyPassReverse /avenirs-api http://__AVENIRS_API_CONTAINER_NAME__:10000

ProxyPass /node-api http://__AVENIRS_NODE_CONTAINER_NAME__:3000
ProxyPassReverse /node-api http://__AVENIRS_NODE_CONTAINER_NAME__:3000

ProxyPass /ws ws://__AVENIRS_NODE_CONTAINER_NAME__:3003
ProxyPassReverse /ws ws://__AVENIRS_NODE_CONTAINER_NAME__:3003

### Hacks for APISix Dashbord invalid sub path (release 3.0)
ProxyPass /apisix/admin http://__AVENIRS_APISIX_DASHBOARD_CONTAINER_NAME__:9000/apisix/admin
ProxyPassReverse /apisix/admin http://__AVENIRS_APISIX_DASHBOARD_CONTAINER_NAME__:9000/apisix/admin

ProxyPass /monaco-editor http://__AVENIRS_APISIX_DASHBOARD_CONTAINER_NAME__:9000/monaco-editor
ProxyPassReverse /monaco-editor http://__AVENIRS_APISIX_DASHBOARD_CONTAINER_NAME__:9000/monaco-editor

ProxyPass /user/login http://__AVENIRS_APISIX_DASHBOARD_CONTAINER_NAME__:9000/user/login
ProxyPassReverse /user/login http://__AVENIRS_APISIX_DASHBOARD_CONTAINER_NAME__:9000/user/login
